venv/
__pycache__/
*.pyc
# ignore most model files 
models/*.pt 
# but allow deployed model to get committed 
!models/augmented_model.pt
!models/baseline_model.pt
.ipynb_checkpoints/
.DS_Store
.cache/
data/